.footnote-1 {
  width: 100%;
  padding-top: 20px;
  background-color: #f5f5f7;
  line-height: 15px;
  .cross {
    font-size: 8px;
  }
  span {
    font-size: 12px;
  }
  p {
    width: 80%;
    margin: auto;
    font-size: 12px;
    font-weight: 300;
    letter-spacing: .5px;
    color: #848484;
    padding-bottom: 30px;
    border-bottom: 1px solid rgb(204, 204, 204);
    
  }
  .strong {
    color: rgba(0, 0, 0, 0.668);
  }
  .bold {
    font-weight: 500;
    font-size: 12px;
    color: #7e7d7d;
  }
}
.footer-apple-logo {
  width: 100%;
  background-color: #f5f5f7;
  .footer-apple-logo-wrapper {
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    padding-top: 20px;
    .fa-apple {
      color: rgba(0, 0, 0, 0.695);
    }
    .fa-chevron-right {
      color: rgba(0, 0, 0, 0.107);
      padding: 0px 10px;
    }
    p {
      font-size: 12px;
      font-weight: 400;
      letter-spacing: 0.3px;
      color: #525255;

    }
  }
}

footer {
  height: auto;
  width: auto;
  display: flex;
  justify-content: center;
  background-color: #f5f5f7;
  padding-top: 5px;

  

  .footerContent {
    height: auto;
    width: auto;
    @include size(auto, auto);

  }

  .navFooter {
    height: auto;
    display: flex;

    .contentUpperFooter {
      height: 24rem;
      width: 14rem;

      @include size(14rem, 27.5rem);

      h3 {
        font-size: 0.8rem;
        font-weight: 500;
        color: #1D1D1F;
        opacity: 0.9;
        color: $footer-header-link-color;
        margin-top: 15px;


      }


      li {
        list-style: none;
        width: 11.2rem;
        height: auto;
        @include size(11.2, auto);
        margin-top: 5px;


      }

      a {
        text-decoration: none;
        color: #525255;
        font-weight: 300;
        font-size: 0.8rem;
        font-size: 0.74rem;
      }
    }

  }

  .navFooterBottom {
    width: 100%;
    height: 7.5rem;
    @include size(100%, 7.5rem);
    display: flex;
    flex-direction: column;

    .navFooterBottomTop {
      width: 100%;
      height: 3rem;
      @include size(100%, 3rem);

      p {
        font-size: 0.75rem;
        text-align: start;
        color: #8e8e92;
      }

      a {
        text-decoration: none;
        font-size: 0.8rem;
        color: #2174d0;
      }
    }

    .verticalLine {
      @include size(100%, 0.01rem);
      align-self: center;
      background-color: #525255;
    }

    .navFooterBottomBottom {
      width: auto;
      height: auto;
      @include size(auto, auto);
      display: flex;
      flex-direction: row;
      margin-top: 10px;


      .copyWriteLeftBar {
        width: 20rem;
        font-size: 0.8rem;
        color: #545457;
        margin-top: 0.2rem;
        opacity: 0.7;
      }

      .navFooterBottomBottomLinks {
        width: 40rem;

        a {
          text-decoration: none;
          padding: 0px 5px;
          font-size: 0.8rem;
          margin-bottom: 10px;
          color: #545457;
          border-left: 1px solid #54545724;
          opacity: 0.8;

        }

        a:first-of-type {
          border: none;
        }

      }

      .navFooterCountry {

        a {
          text-decoration: none;
          font-size: 0.8rem;
          color: #545457;
          margin-left: 5rem;
          opacity: 0.8;
        }
      }

    }

  }
}
