.section1 {
    padding-top: 2rem;
    background-image: url("/index-images/iphone.jpg");
    height: 85vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    .section-text-wrapper {
        height: 40%;
        @include flex (column, center, center, );

        h2 {
            @include text-size (55px, 500, center);
        }

        h3 {
            @include text-size (27px, 300, center);
        }

        .section-buttons-wrapper {
            padding-top: 5px;
            display: flex;
            align-items: center;
            a {
                text-decoration: none;
                color: $link-color-light-bg;
                font-size: 20px;
                font-weight: 300;

                i {
                    font-size: 12px;
                }
            }

            a:last-of-type {
                padding-left: 30px;
            }

            a:hover {
                text-decoration: underline;
            }
        }
    }
}

.section2 {
    background-image: url("/index-images/apple_icon.jpg");
    margin-top: 15px;
    height: 85vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: center;

    .section-text-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 40%;

        h2 {
            color: white;
            font-size: 55px;
            font-weight: 500;
        }

        h3 {
            color: white;
            font-size: 27px;
            padding-top: 10px;
            width: 35%;
            text-align: center;
            font-weight: 300;
        }

        a {
            color: $link-color-dark-bg;
            padding-top: 20px;
            font-size: 20px;
            text-decoration: none;

            i {
                font-size: 12px;
            }

        }

        a:hover {
            text-decoration: underline;
        }
    }
}

.slider-container {
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    .slider-pannel {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
    }
    .slide {
        position: relative;
        overflow: hidden;
        min-width: 1000px;
        height: 100%;
        margin: 0 5px;
        border: 1px solid rgba(179, 179, 179,0.671);
        box-shadow: 10px 30px 50px 0 rgba(179, 179, 179,0.671);
        transform: translate(-70%);
        transition: 1s cubic-bezier(0.645, 0.045, 0.355, 1);
        cursor: pointer;
        opacity: 0.5;
    }
    .inner {
        width: 100%;
        height: 100%;
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
        background-repeat: no-repeat;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        transition: .8s ease-in-out;
        display: flex;
        align-items: flex-end;
        .inner-button-text {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            margin: 3rem 5rem;
            h4 {
                color: white;
                font-weight: 300;
                padding-left: 2.5rem;
                font-size: 19px;
                text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.446);
                span {
                    font-weight: 500;
                    font-size: 20px;
                }
            }
            .watchnow-btn {
                padding: 13px 25px;
                border-radius: 28px;
                font-weight: 500;
                letter-spacing: 0.3px;
                border: none;
                cursor: pointer;
                i {
                    margin-left: 2px;
                }
            }
        }
    }
    .active {
        opacity: 1;
        box-shadow: rgba(179, 179, 179);
        z-index: 3;
    }
    .slide1 .inner {
        background-image: url("/index-images/Emancipation.jpeg"); 
    
    }
    .slide2 .inner {
        background-image: url("/index-images/see.jpeg");
    }
    .slide3 .inner {
        background-image: url("/index-images/shantaram.jpeg");
    }
    
}

.section3 {
    @include flex(column, center, center, nowrap);
    @include background-image(url("index-images/hero_dvs.jpg"));
    @include size(100%, 85vh);
    margin-top: 1rem;

    .section-text-wrapper {
        @include flex(column, flex-start, center, nowrap);
        @include size(50%, 70vh);
        @include text-size(1rem, 600, center);
        color: #fff;

        .section-logo-wrapper {
            @include background-image(url("index-images/card_logo.png"));
            @include size(23%, 8vh);
        }

        h3 {
            @include text-size(1.7rem, 400, center);
            width: 50%;
        }

        h6 {
            @include text-size(1.3rem, 400, center);
            margin-top: 1rem;
        }

        .section-buttons-wrapper {
            padding-top: 20px;
            display: flex;
            align-items: center;
            a {
                text-decoration: none;
                color: $link-color-dark-bg;
                font-size: 20px;
                font-weight: 300;

                i {
                    font-size: 12px;
                }
            }

            a:last-of-type {
                padding-left: 30px;
            }

            a:hover {
                text-decoration: underline;
            }
        }
    }

}

main {
    @include size (auto, 112rem);
    display: flex;
    justify-content: center;
    margin-top: 10px;

    .cards-content {
        @include size (98%, auto);
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        i {
            font-size: 10px;
            padding-left: 3px
        }
        .iphone-wrapper {
            @include size (49.5%, 36rem);
            @include background-image(url("index-images/IPhone_14_pro.jpg"));
            text-align: center;
            text-decoration: none;
            cursor: pointer;
            .iphone-wrapper h4 {
                @include h4($nav-li-color);
            }

            .iphone-wrapper h5 {
                @include h5 ($nav-li-color);
            }

            #lowerLink {
                @include lowerLinks(1.1rem);
            }
        }

        .ipad-wrapper {
            background-color: #fbfbfb;
            @include size (49.5%, 36rem);
            background-image: url("/index-images/IPad.jpg");
            background-position: bottom;
            background-size: 100rem;
            background-repeat: no-repeat;
            text-decoration: none;
            text-align: center;
            cursor: pointer;

            h4 {
                color: $nav-background-color;
                @include text-size(2.5rem, 500, center);
                text-decoration: none;
            }

            .iphone-wrapper h5 {
                @include h5 ($nav-background-color);
            }

            #lowerLink {
                @include lowerLinks(1.1rem);
            }
        }

        .airpods-wrapper {
            @include size (49.5%, 36.65rem);
            @include background-image(url("index-images/ski.jpg"));
            text-align: center;
            cursor: pointer;


            .airpods-logo-card {
                @include size (auto, 20rem);

                #apple-gift {
                    padding-top: 1rem;
                    margin-top: 40px;
                    @include size(2rem, 3.5rem);
                }

                h4 {
                    margin-top: 2px;
                    color: $nav-background-color;
                    @include text-size(2.5rem, 500, center);
                    text-decoration: none;
                }

                .iphone-wrapper h5 {
                    @include h5 ($nav-background-color);
                }

                #lowerLink {
                    @include lowerLinks(1.1rem);
                }
            }
        }

        .blackwatch-wrapper {
            @include size (49.5%, 36.65rem);
            @include background-image(url("index-images/apple_watch_1.jpg"));
            text-align: center;
            cursor: pointer;

            .airpods-logo-card {
                @include size (auto, 20rem);

                #apple-watch-series {
                    padding-top: 1rem;
                    margin-top: 40px;
                    margin-bottom: 12px;
                    @include size (auto, auto);
                }

                h4 {
                    margin-top: 15px;
                    text-align: center;
                }

                .iphone-wrapper h5 {
                    @include h5 ($nav-li-color);
                }

                #lowerLink {
                    @include lowerLinks(1.1rem);
                }
            }


        }

        .whitewatch-wrapper {
            @include size (49.5%, 36.65rem);
            @include background-image(url("index-images/apple_watch_2.jpg"));
            text-align: center;
            cursor: pointer;

            .airpods-logo-card {
                @include size (auto, 20rem);

                #apple-watch-series {
                    padding-top: 1rem;
                    margin-top: 40px;
                    margin-bottom: 12px;
                    @include size (auto, auto);
                }

                h4 {
                    margin-top: 15px;
                    text-align: center;
                }

                .iphone-wrapper h5 {
                    @include h5 ($nav-background-color);
                }

                #lowerLink {
                    @include lowerLinks(1.1rem);
                }
            }
        }

        .speaker-wrapper {
            background-color: #fbfbfb;
            @include size (49.5%, 36.65rem);
            background-image: url("/index-images/speaker2.png");
            background-position: bottom;
            background-size: 60rem;
            background-repeat: no-repeat;
            text-align: center;

            h4 {
                color: $nav-background-color;
                @include text-size(2.5rem, 500, center);
                text-decoration: none;
                margin-top: 4rem;
            }

            #lowerLink {
                @include lowerLinks(1.1rem);
            }
        }
    }
}