.store-header-wrapper {
    @include flex(row, center, center, nowrap);
    margin-right: 30%;
    background-color: #f5f5f7;

    .header-h3 {
        @include text-size(1.6rem, 600, left);
        color: #1D1D1F;
    }

    .header-span {
        @include text-size(1.6rem, 600, left);
        color: #6E6E73;
    }
}

.store-section-2 {
    @include flex(row, center, center, nowrap);
    width: 100%;

    .container {
        @include size(100%, 58vh);

    }

    .swiper-slide {
        @include size(400px, 500px);
        margin: auto;
    }

    .card-content {
        @include size(400px, 500px);
    }

    .card {
        @include flex(row, center, center, nowrap);

        @media screen and (max-width: 1820px) {
            margin-left: 1rem;
        }
    }

    .image {
        @include size(399.99px, 499.99px);
        transition-duration: 0.5s;
        border-radius: 1rem;
        box-shadow: -0.5px 0.5px 10px 0.5px #00000010;
        cursor: pointer;

    }

    .image:hover {
        @include size(403px, 503px);
        transition-duration: 0.5s;
        box-shadow: -1px 1px 10px 2px #00000030;

    }

    img {
        @include size(100%, 100%);
        object-fit: cover;
        border-radius: 1rem;

    }

    .card-text {
        position: relative;
        bottom: 29.5rem;
        left: 1.5rem;
    }

    .card-text-white-color {
        h3 {
            color: #F5F5F7;
        }

        p,
        span {
            color: #fff;
        }
    }

    h3 {
        @include text-size(0.7rem, 600, left);
        margin-bottom: 0.5rem;
        color: #6E6E73;
    }

    p {
        @include text-size(1.7rem, 500, left);
        margin-bottom: 0.5rem;
        color: #1D1D1F;
    }

    span {
        @include text-size(1rem, 400, left);
        color: #1D1D1F;
    }
}