main {
  @include size (100%, auto);
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
}

.top-wrapper {
  @include background-image(url("/support-images/psp-hero-banner-homepage-welcome.image.large_2x.jpg"));
  height: 50vh;

  #header-on-wrapper {
    text-align: center;
    position: relative;
    top: 12rem;
    color: white;
    font-size: 48px;
    font-weight: 400;
  }
}

.first-row-support {
  @include size (100%, 10rem);
  display: flex;
  justify-content: center;
  margin-top: 4rem;

  .smallboxes {
    @include size (10rem, 100%);
    margin-bottom: 1rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

    #support-content-image {
      @include size (4.5rem, auto);
      margin-bottom: 1rem;
    }

    a {
      text-decoration: none;
      color: black;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.second-row {
  width: 100%;
  height: auto;
  @include size (100%, 12rem);
  border-top: 1px solid #dddddd;
  @include flex (row, center, center, wrap);

  .second-row-promotion {
    width: 70rem;
    height: auto;
    display: flex;
    justify-content: space-between;
    text-align: center;

    .promotion-box {
      display: flex;
      flex-direction: column;

      .promotion-images {
        @include size (3rem, 3rem);
        align-self: center;
      }

      a {
        position: relative;
        top: 1rem;
        text-decoration: none;
        color: #0070c9;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    .vertical-line {
      @include size (1px, 7rem);
      align-self: center;
      background-color: #dddddd;
    }
  }

}

.searchfieldTitle {
  position: relative;

  @include size (100%, 12rem);
  border: 1px solid #dddddd;
  align-self: center;
  text-align: center;

  h2 {
    font-size: 40px;
    font-weight: 500;
    position: relative;
    top: 2rem;
  }

  .search-bar-content {
    width: 100%;
    position: relative;
    top: 3rem;

    input {
      @include size (60rem, 3.5rem);
      background-image: url("/support-images/searchbutton.png");
      background-size: 2rem;
      background-repeat: no-repeat;
      border: 1px solid #c5c1c1;
      background-position: 0.5rem;
      border-radius: 2px;
    }

    input::placeholder {
      font-size: 25px;
      font-weight: 300;
      position: relative;
      left: 4rem;
      top: 0.2rem;
    }
  }

}

.third-row {
  @include size (100%, 21rem);
  display: flex;
  justify-content: center;

  .third-row-content {
    @include size (60rem, auto);
    width: 60rem;
    height: auto;
    display: flex;
    flex-direction: row;

    .updateIOS {
      width: 50%;
      background-image: url("/support-images/featured-section-update-ios-promo_2x.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 29rem;
      align-items: flex-start;
    }

    .updateIOScontent {
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;

      .headerUpdateIOS {
        @include size (auto, 20%);
        width: auto;
        height: 20%;

        h2 {
          font-size: 40px;
          font-weight: 500;
        }
      }

      .pContent {
        @include size (auto, 40%);

        p {
          font-size: 22px;
          font-weight: 300;
          line-height: 1.4;
        }
      }

      .aLinkContent {
        @include size (auto, 20%);

        a {
          text-decoration: none;
          color: #0070c9;
          font-size: 22px;
          line-height: 1.4;
          font-weight: 300;
          position: relative;
          bottom: 10px;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}

.fourth-row {
  @include size (100%, 45vh);
  @include background-image(url("/support-images/psp-hero-banner-homepage-getsupport.image.large_2x.jpg"));
  display: flex;
  flex-direction: column;
  justify-content: center;

  .fourth-row-part {
    @include size (50%, 50%);

    .fourth-row-content {
      text-align: center;
      @include size (100%, 5rem);

      h2 {
        font-size: 40px;
        color: white;
        font-weight: 400;
      }
    }

    .ptagContent {
      text-align: center;
      @include size (100%, 5rem);

      p {
        font-size: 20px;
        color: white;
        font-weight: 400;
      }
    }

    .atagContent {
      text-align: center;
      @include size (100%, 3rem);

      a {
        font-size: 20px;
        color: #66bbff;
        font-weight: 400;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

.fifth-row {
  @include size (100%, 20.7rem);
  display: flex;
  justify-content: center;

  .fifth-row-content {
    @include size (60rem, 15.2rem);
    align-self: center;
    display: flex;
    flex-direction: row;

    .fifth-box {
      @include size (50%, 100%);

      .fifth-row-header {
        @include size (100%, 4rem);

        h2 {
          font-size: 40px;
          font-weight: 500;
        }
      }

      .fifth-row-text {
        @include size (100%, 8rem);

        p {
          font-size: 22px;
          font-weight: 300;
          line-height: 1.4;
        }
      }

      .fifth-row-link {
        @include size (auto, 20%);

        a {
          text-decoration: none;
          color: #0070c9;
          font-size: 22px;
          line-height: 1.4;
          font-weight: 300;
          position: relative;
          bottom: 10px;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }

    .fifth-box-image {
      @include size (50%, 100%);
      background-image: url("/support-images/featured-section-give-back-trade-in_2x.jpg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 29rem;
      align-items: flex-start;
    }
  }
}

.sixth-row {
  @include size (100%, 25.7rem);
  border: 1px solid #c5c1c1;
  display: flex;
  flex-direction: row;
  justify-content: center;

  .sixth-row-content {
    @include size (60rem, 23rem);
    align-self: center;
    display: flex;
    flex-direction: row;

    .sixth-box-image {
      @include size (50%, 100%);
      background-image: url("/support-images/featured-section-promo-accidents-happen_2x.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 29rem;
      align-items: flex-start;
    }

    .sixth-box {
      @include size (50%, 100%);
      display: flex;
      flex-direction: column;
      justify-content: end;

      .sixth-box-down {
        @include size (auto, 85%);
        display: flex;
        flex-direction: column;
      }

      .sixth-row-header {
        @include size (100%, 18rem);

        h2 {
          font-size: 40px;
          font-weight: 500;
        }
      }

      .sixth-row-text {
        @include size (100%, 22rem);

        p {
          font-size: 22px;
          font-weight: 300;
          line-height: 1.4;
        }
      }

      .sixth-row-link {
        @include size (auto, 20%);

        a {
          text-decoration: none;
          color: #0070c9;
          font-size: 22px;
          line-height: 1.4;
          font-weight: 300;
          position: relative;
          bottom: 10px;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}

.seven-row {
  @include size (100%, 21.7rem);
  display: flex;
  flex-direction: row;
  justify-content: center;

  .seven-row-content {
    @include size (60rem, 100%);
    align-self: center;
    display: flex;
    flex-direction: row;

    .seven-box-image {
      @include size (50%, 100%);
      background-image: url("/support-images/featured-section-my-support_2x.jpg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 29rem;
      align-items: flex-start;
    }

    .seven-box {
      @include size (50%, 100%);
      display: flex;
      flex-direction: column;
      justify-content: end;

      .seven-row-header {
        @include size (100%, 5rem);

        h2 {
          font-size: 40px;
          font-weight: 500;
        }
      }

      .seven-row-text {
        @include size (100%, 7rem);

        p {
          font-size: 22px;
          font-weight: 300;
          line-height: 1.4;
        }
      }

      .seven-row-link {
        @include size (auto, 4rem);
        display: flex;
        padding-top: 1rem;

        a {
          text-decoration: none;
          color: #0070c9;
          font-size: 22px;
          line-height: 1.4;
          font-weight: 300;
          position: relative;
          bottom: 10px;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}


.eight-row {
  @include size (100%, 16.7rem);
  border: 1px solid #c5c1c1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 25px;

  .eight-content {
    @include size (60rem, 100%);
    align-self: center;
    display: flex;
    flex-direction: column;
    text-align: center;

    .eight-header {
      @include size (100%, 4rem);

      h3 {
        font-size: 24px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: .015em;
        padding: 12px;
      }
    }

    .eight-text {
      @include size (100%, 6rem);

      p {
        font-size: 18.5px;
        font-weight: 300;
        letter-spacing: .015em;
        line-height: 1.4;
        display: block;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
      }
    }

    .eight-text-two {
      @include size (100%, auto);

      p {
        font-size: 18.5px;
        font-weight: 300;
        letter-spacing: .015em;
        line-height: 1.4;
        display: block;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;

        a {
          text-decoration: none;
          color: #0070c9;


          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}

.ninth-row {
  @include size (100%, 20.7rem);
  border-bottom: 1px solid #c5c1c1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 25px;

  .eight-content {
    @include size (60rem, 100%);
    align-self: center;
    display: flex;
    flex-direction: column;
    text-align: center;

    .eight-header {
      @include size (100%, 4rem);

      h3 {
        font-size: 24px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: .015em;
        padding: 12px;
      }
    }

    .eight-text {
      @include size (100%, 6rem);

      p {
        font-size: 18.5px;
        font-weight: 300;
        letter-spacing: .015em;
        line-height: 1.4;
        display: block;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;

        a {
          text-decoration: none;
          color: #0070c9;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }

    .eight-text-two {
      width: 100%;
      height: auto;

      p {
        font-size: 18.5px;
        font-weight: 300;
        letter-spacing: .015em;
        line-height: 1.4;
        display: block;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
      }
    }
  }
}

.warning-row {
  @include size (100%, 17.7rem);
  display: flex;
  border-bottom: 1px solid #c5c1c1;
  justify-content: center;

  .warning-middle-box {
    @include size (60rem, 100%);
    display: flex;
    flex-direction: row;

    .content-image-warning {
      @include size (50%, 100%);
      background-image: url("/support-images/apple-gift-card-trimmed_2x.jpg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 16rem;
      align-items: flex-start;
    }

    .content-warning {
      @include size (50%, 100%);

      h3 {
        font-size: 2.2rem;
        font-weight: 400;
        padding-top: 57px;
      }

      a {
        text-decoration: none;
        color: #0070c9;
        font-size: 20px;
        line-height: 1.4;
        font-weight: 300;
        position: relative;
        top: 18px;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

.apple-service {
  @include size (100%, 25.7rem);
  display: flex;
  justify-content: center;

  .apple-service-content {
    @include size (60rem, auto);
    padding-top: 40px;
    padding-right: 4rem;

    h3 {
      font-size: 27px;
      font-weight: 400;
      padding: 10px;
    }

    ul li {
      list-style: none;
      padding: 10px;

      a {
        text-decoration: none;
        color: #0070c9;
        font-size: 19px;
        font-weight: 300;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

.support-footer {
  display: flex;
  flex-direction: column;

  .support-footer-social {
    margin: auto;
    width: 70%;
    padding: 30px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.214);

    h5 {
      font-weight: 300;
      padding-bottom: 20px;
    }

    .support-footer-social-icons {
      i {
        font-size: 35px;
        color: rgba(0, 0, 0, 0.771);
        cursor: pointer;
      }

      i:nth-of-type(2) {
        padding-left: 10px;
      }
    }
  }

  .footer-apple-logo {

    .footer-apple-logo-wrapper {
      width: 70%;

      p {
        letter-spacing: 0.2px;
        color: rgba(0, 0, 0, 0.454);
      }
    }
  }

  .support-footer-uls {
    display: flex;
    width: 70%;
    margin: auto;
    justify-content: space-between;
    padding-top: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.214);
    padding-bottom: 30px;

    ul {
      list-style: none;

      h5 {
        font-size: 0.8rem;
        font-weight: 500;
        color: #161617;
        opacity: 0.9;
        color: $footer-header-link-color;
        margin-top: 15px;
      }

      li {
        padding-top: 5px;
      }

      a {
        text-decoration: none;
        color: #525255;
        font-weight: 300;
        font-size: 0.8rem;
        font-size: 0.74rem;
      }
    }
  }

  .footer-copy-wrapper {
    display: flex;
    width: 70%;
    margin: auto;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 30px;

    h5 {
      color: rgba(0, 0, 0, 0.565);
      font-weight: 400;
      font-size: 12px;
    }

    .footer-copy-left {
      display: flex;

      ul {
        display: flex;
        list-style: none;

        a {
          text-decoration: none;
          font-size: 12px;
          padding: 0px 15px;
          color: rgba(0, 0, 0, 0.454);
          letter-spacing: 0.3px;
          border-left: 1px solid rgba(0, 0, 0, 0.148);
        }

        a:first-of-type {
          border: none;
        }
      }

      h5 {
        margin-right: 20px;
        color: rgba(0, 0, 0, 0.378);
      }
    }
  }
}