.top-navigation {
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 6.5vh;
  font-family: "Roboto", sans-serif;
  color: #f5f5f7;
  position: fixed;
  width: 100%;
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
}
.top-navigation .fa-apple {
  color: #f5f5f7;
  opacity: 0.9;
}
.top-navigation i {
  opacity: 0.7;
}
.top-navigation i:nth-of-type(2) {
  margin-left: 20px;
}
.top-navigation .top-navigation-wrapper {
  display: flex;
  justify-content: space-around;
  width: 68%;
  align-items: center;
}
.top-navigation .top-navigation-wrapper a {
  font-size: 20px;
}
.top-navigation .top-navigation-wrapper ul {
  display: flex;
  list-style: none;
  justify-content: space-around;
  width: 90%;
}
.top-navigation .top-navigation-wrapper ul li a {
  color: #f5f5f7;
  text-decoration: none;
  font-size: 12px;
  opacity: 0.7;
}

.section1 {
  background-image: url("/index-images/iphone.jpg");
  height: 85vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.section1 .section-text-wrapper {
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
.section1 .section-text-wrapper h2 {
  font-size: 55px;
  font-weight: 500;
  text-align: center;
}
.section1 .section-text-wrapper h3 {
  font-size: 27px;
  font-weight: 300;
  text-align: center;
}
.section1 .section-text-wrapper .section-buttons-wrapper {
  padding-top: 20px;
  display: flex;
  align-items: center;
}
.section1 .section-text-wrapper .section-buttons-wrapper a {
  text-decoration: none;
  color: #0066CC;
  font-size: 20px;
  font-weight: 300;
}
.section1 .section-text-wrapper .section-buttons-wrapper a i {
  font-size: 12px;
}
.section1 .section-text-wrapper .section-buttons-wrapper a:last-of-type {
  padding-left: 30px;
}
.section1 .section-text-wrapper .section-buttons-wrapper a:hover {
  text-decoration: underline;
}

.section2 {
  background-image: url("/index-images/hero_startframe.jpg");
  margin-top: 15px;
  height: 85vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.section2 .section-text-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 40%;
}
.section2 .section-text-wrapper h2 {
  color: white;
  font-size: 55px;
  font-weight: 500;
}
.section2 .section-text-wrapper h3 {
  color: white;
  font-size: 27px;
  padding-top: 10px;
  width: 35%;
  text-align: center;
  font-weight: 300;
}
.section2 .section-text-wrapper a {
  color: #2997FF;
  padding-top: 20px;
  font-size: 20px;
  text-decoration: none;
}
.section2 .section-text-wrapper a i {
  font-size: 12px;
}
.section2 .section-text-wrapper a:hover {
  text-decoration: underline;
}

.section3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  background-image: url("index-images/hero_dvs.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 85vh;
  margin-top: 1rem;
}
.section3 .section-text-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  width: 50%;
  height: 70vh;
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  color: #fff;
}
.section3 .section-text-wrapper .section-logo-wrapper {
  background-image: url("index-images/card_logo.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 23%;
  height: 8vh;
}
.section3 .section-text-wrapper h3 {
  font-size: 1.7rem;
  font-weight: 400;
  text-align: center;
  width: 50%;
}
.section3 .section-text-wrapper h6 {
  font-size: 1.3rem;
  font-weight: 400;
  text-align: center;
  margin-top: 1rem;
}
.section3 .section-text-wrapper .section-a-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  width: 29%;
  margin-top: 1rem;
}
.section3 .section-text-wrapper .section-a-wrapper a {
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  color: #2997FF;
  text-decoration: none;
}
.section3 .section-text-wrapper .section-a-wrapper a i {
  font-size: 0.8rem;
}
.section3 .section-text-wrapper .section-a-wrapper a:hover {
  text-decoration: underline;
}

footer {
  height: auto;
  width: auto;
  display: flex;
  justify-content: center;
  background-color: #f5f5f7;
}
footer .footerContent {
  height: auto;
  width: auto;
  width: auto;
  height: auto;
}
footer .navFooter {
  height: auto;
  display: flex;
}
footer .navFooter .contentUpperFooter {
  height: 24rem;
  width: 14rem;
  width: 14rem;
  height: 27.5rem;
}
footer .navFooter .contentUpperFooter h3 {
  font-size: 0.8rem;
  font-family: "Roboto";
  font-size: 0.75rem;
  font-family: "Roboto";
  font-weight: 500;
  color: #1D1D1F;
  opacity: 0.9;
  color: #1D1D1F;
  margin-top: 15px;
}
footer .navFooter .contentUpperFooter li {
  list-style: none;
  width: 11.2rem;
  height: auto;
  width: 11.2;
  height: auto;
  margin-top: 5px;
}
footer .navFooter .contentUpperFooter a {
  text-decoration: none;
  color: #525255;
  font-family: "Roboto";
  font-weight: 300;
  font-size: 0.8rem;
  font-size: 0.74rem;
}
footer .navFooterBottom {
  width: 100%;
  height: 7.5rem;
  width: 100%;
  height: 7.5rem;
  display: flex;
  flex-direction: column;
}
footer .navFooterBottom .navFooterBottomTop {
  width: 100%;
  height: 3rem;
  width: 100%;
  height: 3rem;
}
footer .navFooterBottom .navFooterBottomTop p {
  font-size: 0.75rem;
  font-family: "Roboto";
  text-align: start;
  color: #8e8e92;
}
footer .navFooterBottom .navFooterBottomTop a {
  text-decoration: none;
  font-size: 0.8rem;
  font-family: "Roboto";
  color: #2174d0;
}
footer .navFooterBottom .verticalLine {
  width: 100%;
  height: 0.01rem;
  align-self: center;
  background-color: #525255;
}
footer .navFooterBottom .navFooterBottomBottom {
  width: auto;
  height: auto;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}
footer .navFooterBottom .navFooterBottomBottom .copyWriteLeftBar {
  width: 20rem;
  font-size: 0.8rem;
  font-family: "Roboto";
  color: #545457;
  margin-top: 0.2rem;
  opacity: 0.7;
}
footer .navFooterBottom .navFooterBottomBottom .navFooterBottomBottomLinks {
  width: 40rem;
}
footer .navFooterBottom .navFooterBottomBottom .navFooterBottomBottomLinks a {
  text-decoration: none;
  padding: 0px 5px;
  font-size: 0.8rem;
  font-family: "Roboto";
  margin-bottom: 10px;
  color: #545457;
  border-left: 1px solid rgba(84, 84, 87, 0.1411764706);
  opacity: 0.8;
}
footer .navFooterBottom .navFooterBottomBottom .navFooterBottomBottomLinks a:first-of-type {
  border: none;
}
footer .navFooterBottom .navFooterBottomBottom .navFooterCountry a {
  text-decoration: none;
  font-size: 0.8rem;
  font-family: "Roboto";
  color: #545457;
  margin-left: 5rem;
  opacity: 0.8;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}/*# sourceMappingURL=style.css.map */