.top-navigation {
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 6.5vh;
  font-family: "Roboto", sans-serif;
  color: #f5f5f7;
  position: fixed;
  width: 100%;
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
}
.top-navigation .fa-apple {
  color: #f5f5f7;
  opacity: 0.9;
}
.top-navigation i {
  opacity: 0.7;
}
.top-navigation i:nth-of-type(2) {
  margin-left: 20px;
}
.top-navigation .top-navigation-wrapper {
  display: flex;
  justify-content: space-around;
  width: 68%;
  align-items: center;
}
.top-navigation .top-navigation-wrapper a {
  font-size: 20px;
}
.top-navigation .top-navigation-wrapper ul {
  display: flex;
  list-style: none;
  justify-content: space-around;
  width: 90%;
}
.top-navigation .top-navigation-wrapper ul li a {
  color: #f5f5f7;
  text-decoration: none;
  font-size: 12px;
  opacity: 0.7;
}

.section1 {
  padding-top: 2rem;
  background-image: url("/index-images/iphone.jpg");
  height: 85vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.section1 .section-text-wrapper {
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
.section1 .section-text-wrapper h2 {
  font-size: 55px;
  font-weight: 500;
  text-align: center;
}
.section1 .section-text-wrapper h3 {
  font-size: 27px;
  font-weight: 300;
  text-align: center;
}
.section1 .section-text-wrapper .section-buttons-wrapper {
  padding-top: 5px;
  display: flex;
  align-items: center;
}
.section1 .section-text-wrapper .section-buttons-wrapper a {
  text-decoration: none;
  color: #0066CC;
  font-size: 20px;
  font-weight: 300;
}
.section1 .section-text-wrapper .section-buttons-wrapper a i {
  font-size: 12px;
}
.section1 .section-text-wrapper .section-buttons-wrapper a:last-of-type {
  padding-left: 30px;
}
.section1 .section-text-wrapper .section-buttons-wrapper a:hover {
  text-decoration: underline;
}

.section2 {
  background-image: url("/index-images/apple_icon.jpg");
  margin-top: 15px;
  height: 85vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.section2 .section-text-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 40%;
}
.section2 .section-text-wrapper h2 {
  color: white;
  font-size: 55px;
  font-weight: 500;
}
.section2 .section-text-wrapper h3 {
  color: white;
  font-size: 27px;
  padding-top: 10px;
  width: 35%;
  text-align: center;
  font-weight: 300;
}
.section2 .section-text-wrapper a {
  color: #2997FF;
  padding-top: 20px;
  font-size: 20px;
  text-decoration: none;
}
.section2 .section-text-wrapper a i {
  font-size: 12px;
}
.section2 .section-text-wrapper a:hover {
  text-decoration: underline;
}

.slide-container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
}
.slide-container .image-slider {
  width: 100%;
  height: 100vh;
  position: absolute;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.7s;
}
.slide-container .slides-div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px 0 10px;
  position: relative;
}
.slide-container .slides-div .carousel-button-wrapper {
  display: flex;
  color: white;
  position: absolute;
  bottom: 3.5rem;
  left: 4.5rem;
  align-items: center;
  font-family: "Roboto", sans-serif;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.307);
}
.slide-container .slides-div .carousel-button-wrapper .dramathick {
  font-weight: 500;
  font-size: 20px;
}
.slide-container .slides-div .carousel-button-wrapper h4 {
  font-weight: 300;
  font-size: 19px;
}
.slide-container .slides-div .carousel-button-wrapper .streamnow-btn {
  padding: 13px 20px;
  border-radius: 25px;
  border: none;
  font-weight: 600;
  letter-spacing: 0.3px;
  align-items: center;
  margin-right: 3rem;
}
.slide-container .slides-div .carousel-button-wrapper .streamnow-btn i {
  padding-left: 3px;
}
.slide-container img {
  position: relative;
  transition: 0.5s;
  width: 1200px;
}
.slide-container .button {
  position: absolute;
  width: 1200px;
  height: 100vh;
}
.slide-container #slider-span1:target ~ .image-slider #img1,
.slide-container #slider-span1:target ~ .image-slider #button-1 {
  width: 1200px;
  height: 90vh;
  background-color: transparent;
  filter: blur(1px);
}
.slide-container #slider-span2:target ~ .image-slider #img2,
.slide-container #slider-span2:target ~ .image-slider #button-2 {
  width: 1200px;
  height: 100vh;
  background-color: transparent;
  filter: blur(1px);
}
.slide-container #slider-span3:target ~ .image-slider #img3,
.slide-container #slider-span3:target ~ .image-slider #button-3 {
  width: 1200px;
  height: 100vh;
  background-color: transparent;
  filter: blur(1px);
}
.slide-container #slider-span4:target ~ .image-slider #img4,
.slide-container #slider-span4:target ~ .image-slider #button-4 {
  width: 1200px;
  height: 100vh;
  background-color: transparent;
  filter: blur(1px);
}
.slide-container #slider-span5:target ~ .image-slider #img5,
.slide-container #slider-span5:target ~ .image-slider #button-5 {
  width: 1200px;
  height: 100vh;
  background-color: transparent;
  filter: blur(1px);
}
.slide-container #slider-span6:target ~ .image-slider #img6,
.slide-container #slider-span6:target ~ .image-slider #button-6 {
  width: 1200px;
  height: 100vh;
  background-color: transparent;
  filter: blur(1px);
}
.slide-container #slider-span7:target ~ .image-slider #img7,
.slide-container #slider-span7:target ~ .image-slider #button-7 {
  width: 1200px;
  height: 100vh;
  background-color: transparent;
  filter: blur(1px);
}
.slide-container #slider-span1:target ~ .image-slider {
  left: 255%;
}
.slide-container #slider-span2:target ~ .image-slider {
  left: 170%;
}
.slide-container #slider-span3:target ~ .image-slider {
  left: 85%;
}
.slide-container #slider-span4:target ~ .image-slider {
  left: 0%;
}
.slide-container #slider-span5:target ~ .image-slider {
  left: -85%;
}
.slide-container #slider-span6:target ~ .image-slider {
  left: -170%;
}
.slide-container #slider-span7:target ~ .image-slider {
  left: -255%;
}

.slides-div:nth-of-type(5) .carousel-button-wrapper .streamnow-btn {
  background-color: white;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.09);
}

.slides-div:nth-of-type(5) .carousel-button-wrapper h4 {
  text-shadow: 2px 2px 8px black;
}

.section3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  background-image: url("index-images/hero_dvs.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 85vh;
  margin-top: 1rem;
}
.section3 .section-text-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  width: 50%;
  height: 70vh;
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  color: #fff;
}
.section3 .section-text-wrapper .section-logo-wrapper {
  background-image: url("index-images/card_logo.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 23%;
  height: 8vh;
}
.section3 .section-text-wrapper h3 {
  font-size: 1.7rem;
  font-weight: 400;
  text-align: center;
  width: 50%;
}
.section3 .section-text-wrapper h6 {
  font-size: 1.3rem;
  font-weight: 400;
  text-align: center;
  margin-top: 1rem;
}
.section3 .section-text-wrapper .section-buttons-wrapper {
  padding-top: 20px;
  display: flex;
  align-items: center;
}
.section3 .section-text-wrapper .section-buttons-wrapper a {
  text-decoration: none;
  color: #2997FF;
  font-size: 20px;
  font-weight: 300;
}
.section3 .section-text-wrapper .section-buttons-wrapper a i {
  font-size: 12px;
}
.section3 .section-text-wrapper .section-buttons-wrapper a:last-of-type {
  padding-left: 30px;
}
.section3 .section-text-wrapper .section-buttons-wrapper a:hover {
  text-decoration: underline;
}

main {
  width: 98%;
  height: auto;
  display: flex;
  justify-content: center;
}
main .cards-content {
  width: 98%;
  height: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: auto;
}
main .cards-content i {
  font-size: 10px;
  padding-left: 3px;
}
main .cards-content .iphone-wrapper {
  width: 49.7%;
  height: 32rem;
  background-image: url("index-images/IPhone_14_pro.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  margin-bottom: 10px;
}
main .cards-content .iphone-wrapper .iphone-wrapper h4 {
  color: #f5f5f7;
  margin-top: 1rem;
  font-size: 2.5rem;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
}
main .cards-content .iphone-wrapper .iphone-wrapper h5 {
  color: #f5f5f7;
  font-size: 1.2rem;
  font-weight: 300;
  margin-right: 10px;
  margin-bottom: 1rem;
}
main .cards-content .iphone-wrapper #lowerLink {
  font-size: 1.1rem;
  position: relative;
  top: 1rem;
  margin: 10px;
  color: #217bcf;
  text-decoration: none;
}
main .cards-content .iphone-wrapper #lowerLink:hover {
  text-decoration: underline;
}
main .cards-content .ipad-wrapper {
  background-color: #fbfbfb;
  width: 49.7%;
  height: 32rem;
  background-image: url("/index-images/IPad.jpg");
  background-position: bottom;
  background-size: 100rem;
  background-repeat: no-repeat;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  margin-bottom: 10px;
}
main .cards-content .ipad-wrapper h4 {
  color: rgba(0, 0, 0, 0.8);
  font-size: 2.5rem;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
}
main .cards-content .ipad-wrapper .iphone-wrapper h5 {
  color: rgba(0, 0, 0, 0.8);
  font-size: 1.2rem;
  font-weight: 300;
  margin-right: 10px;
  margin-bottom: 1rem;
}
main .cards-content .ipad-wrapper #lowerLink {
  font-size: 1.1rem;
  position: relative;
  top: 1rem;
  margin: 10px;
  color: #217bcf;
  text-decoration: none;
}
main .cards-content .ipad-wrapper #lowerLink:hover {
  text-decoration: underline;
}
main .cards-content .airpods-wrapper {
  width: 49.7%;
  height: 32rem;
  background-image: url("index-images/ski.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  cursor: pointer;
  margin-bottom: 10px;
}
main .cards-content .airpods-wrapper .airpods-logo-card {
  width: auto;
  height: 20rem;
}
main .cards-content .airpods-wrapper .airpods-logo-card #apple-gift {
  padding-top: 1rem;
  margin-top: 40px;
  width: 2rem;
  height: 3.5rem;
}
main .cards-content .airpods-wrapper .airpods-logo-card h4 {
  margin-top: 2px;
  color: rgba(0, 0, 0, 0.8);
  font-size: 2.5rem;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
}
main .cards-content .airpods-wrapper .airpods-logo-card .iphone-wrapper h5 {
  color: rgba(0, 0, 0, 0.8);
  font-size: 1.2rem;
  font-weight: 300;
  margin-right: 10px;
  margin-bottom: 1rem;
}
main .cards-content .airpods-wrapper .airpods-logo-card #lowerLink {
  font-size: 1.1rem;
  position: relative;
  top: 1rem;
  margin: 10px;
  color: #217bcf;
  text-decoration: none;
}
main .cards-content .airpods-wrapper .airpods-logo-card #lowerLink:hover {
  text-decoration: underline;
}
main .cards-content .blackwatch-wrapper {
  width: 49.7%;
  height: 32rem;
  background-image: url("index-images/apple_watch_1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  cursor: pointer;
  margin-bottom: 10px;
}
main .cards-content .blackwatch-wrapper .airpods-logo-card {
  width: auto;
  height: 20rem;
}
main .cards-content .blackwatch-wrapper .airpods-logo-card #apple-watch-series {
  padding-top: 1rem;
  margin-top: 40px;
  margin-bottom: 12px;
  width: auto;
  height: auto;
}
main .cards-content .blackwatch-wrapper .airpods-logo-card h4 {
  margin-top: 15px;
  text-align: center;
}
main .cards-content .blackwatch-wrapper .airpods-logo-card .iphone-wrapper h5 {
  color: #f5f5f7;
  font-size: 1.2rem;
  font-weight: 300;
  margin-right: 10px;
  margin-bottom: 1rem;
}
main .cards-content .blackwatch-wrapper .airpods-logo-card #lowerLink {
  font-size: 1.1rem;
  position: relative;
  top: 1rem;
  margin: 10px;
  color: #217bcf;
  text-decoration: none;
}
main .cards-content .blackwatch-wrapper .airpods-logo-card #lowerLink:hover {
  text-decoration: underline;
}
main .cards-content .whitewatch-wrapper {
  width: 49.7%;
  height: 32rem;
  background-image: url("index-images/apple_watch_2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  cursor: pointer;
  margin-bottom: 10px;
}
main .cards-content .whitewatch-wrapper .airpods-logo-card {
  width: auto;
  height: 20rem;
}
main .cards-content .whitewatch-wrapper .airpods-logo-card #apple-watch-series {
  padding-top: 1rem;
  margin-top: 40px;
  margin-bottom: 12px;
  width: auto;
  height: auto;
}
main .cards-content .whitewatch-wrapper .airpods-logo-card h4 {
  margin-top: 15px;
  text-align: center;
}
main .cards-content .whitewatch-wrapper .airpods-logo-card .iphone-wrapper h5 {
  color: rgba(0, 0, 0, 0.8);
  font-size: 1.2rem;
  font-weight: 300;
  margin-right: 10px;
  margin-bottom: 1rem;
}
main .cards-content .whitewatch-wrapper .airpods-logo-card #lowerLink {
  font-size: 1.1rem;
  position: relative;
  top: 1rem;
  margin: 10px;
  color: #217bcf;
  text-decoration: none;
}
main .cards-content .whitewatch-wrapper .airpods-logo-card #lowerLink:hover {
  text-decoration: underline;
}
main .cards-content .speaker-wrapper {
  background-color: #fbfbfb;
  width: 49.7%;
  height: 32rem;
  background-image: url("/index-images/speaker2.png");
  background-position: bottom;
  background-size: 60rem;
  background-repeat: no-repeat;
  text-align: center;
  margin-bottom: 10px;
}
main .cards-content .speaker-wrapper h4 {
  color: rgba(0, 0, 0, 0.8);
  font-size: 2.5rem;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
  margin-top: 4rem;
}
main .cards-content .speaker-wrapper #lowerLink {
  font-size: 1.1rem;
  position: relative;
  top: 1rem;
  margin: 10px;
  color: #217bcf;
  text-decoration: none;
}
main .cards-content .speaker-wrapper #lowerLink:hover {
  text-decoration: underline;
}

footer {
  height: auto;
  width: auto;
  display: flex;
  justify-content: center;
  background-color: #f5f5f7;
}
footer .footerContent {
  height: auto;
  width: auto;
  width: auto;
  height: auto;
}
footer .navFooter {
  height: auto;
  display: flex;
}
footer .navFooter .contentUpperFooter {
  height: 24rem;
  width: 14rem;
  width: 14rem;
  height: 27.5rem;
}
footer .navFooter .contentUpperFooter h3 {
  font-size: 0.8rem;
  font-weight: 500;
  color: #1D1D1F;
  opacity: 0.9;
  color: #1D1D1F;
  margin-top: 15px;
}
footer .navFooter .contentUpperFooter li {
  list-style: none;
  width: 11.2rem;
  height: auto;
  width: 11.2;
  height: auto;
  margin-top: 5px;
}
footer .navFooter .contentUpperFooter a {
  text-decoration: none;
  color: #525255;
  font-weight: 300;
  font-size: 0.8rem;
  font-size: 0.74rem;
}
footer .navFooterBottom {
  width: 100%;
  height: 7.5rem;
  width: 100%;
  height: 7.5rem;
  display: flex;
  flex-direction: column;
}
footer .navFooterBottom .navFooterBottomTop {
  width: 100%;
  height: 3rem;
  width: 100%;
  height: 3rem;
}
footer .navFooterBottom .navFooterBottomTop p {
  font-size: 0.75rem;
  text-align: start;
  color: #8e8e92;
}
footer .navFooterBottom .navFooterBottomTop a {
  text-decoration: none;
  font-size: 0.8rem;
  color: #2174d0;
}
footer .navFooterBottom .verticalLine {
  width: 100%;
  height: 0.01rem;
  align-self: center;
  background-color: #525255;
}
footer .navFooterBottom .navFooterBottomBottom {
  width: auto;
  height: auto;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}
footer .navFooterBottom .navFooterBottomBottom .copyWriteLeftBar {
  width: 20rem;
  font-size: 0.8rem;
  color: #545457;
  margin-top: 0.2rem;
  opacity: 0.7;
}
footer .navFooterBottom .navFooterBottomBottom .navFooterBottomBottomLinks {
  width: 40rem;
}
footer .navFooterBottom .navFooterBottomBottom .navFooterBottomBottomLinks a {
  text-decoration: none;
  padding: 0px 5px;
  font-size: 0.8rem;
  margin-bottom: 10px;
  color: #545457;
  border-left: 1px solid rgba(84, 84, 87, 0.1411764706);
  opacity: 0.8;
}
footer .navFooterBottom .navFooterBottomBottom .navFooterBottomBottomLinks a:first-of-type {
  border: none;
}
footer .navFooterBottom .navFooterBottomBottom .navFooterCountry a {
  text-decoration: none;
  font-size: 0.8rem;
  color: #545457;
  margin-left: 5rem;
  opacity: 0.8;
}

main {
  width: auto;
  height: 100rem;
  display: flex;
  flex-direction: column;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  overflow-x: hidden;
}/*# sourceMappingURL=style.css.map */