@import "partials/variables";
@import "partials/mixins";
@import "partials/navigation";
@import "partials/homepage";
@import "partials/storepage";
@import "partials/footer";
@import "partials/support";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: $font;

}

body {
    overflow-x: hidden;
    background-color: #f5f5f7;
    width: auto;
    height: auto;
}

.seven-row {
    @include size (100%, 21.7rem);
    border: 1px solid #c5c1c1;
    display: flex;
    flex-direction: row;
    justify-content: center;

    .seven-row-content {
        @include size (60rem, 100%);
        align-self: center;
        display: flex;
        flex-direction: row;

        .seven-box-image {
            @include size (50%, 100%);
            background-image: url("/support-images/featured-section-my-support_2x.jpg");
            background-repeat: no-repeat;
            background-position: center;
            background-size: 29rem;
            align-items: flex-start;
        }

        .seven-box {
            @include size (50%, 100%);
            display: flex;
            flex-direction: column;
            justify-content: end;

            .seven-row-header {
                @include size (100%, 5rem);

                h2 {
                    font-size: 40px;
                    font-weight: 500;
                }

            }

            .seven-row-text {
                @include size (100%, 7rem);

                p {
                    font-size: 22px;
                    font-weight: 300;
                    line-height: 1.4;
                }
            }

            .seven-row-link {
                @include size (auto, 4rem);
                display: flex;

                a {
                    text-decoration: none;
                    color: #0070c9;
                    font-size: 22px;
                    line-height: 1.4;
                    font-weight: 300;
                    position: relative;
                    bottom: 10px;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}


.eight-row {
    @include size (100%, 16.7rem);
    border: 1px solid #c5c1c1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 25px;

    .eight-content {
        @include size (60rem, 100%);
        align-self: center;
        display: flex;
        flex-direction: column;
        text-align: center;

        .eight-header {
            width: 100%;
            height: 4rem;

            h3 {
                font-size: 24px;
                font-weight: 500;
                line-height: 1.2;
                letter-spacing: .015em;
                padding: 12px;
            }

        }

        .eight-text {
            width: 100%;
            height: 6rem;

            p {
                font-size: 18.5px;
                font-weight: 300;
                letter-spacing: .015em;
                line-height: 1.4;
                display: block;
                margin-block-start: 1em;
                margin-block-end: 1em;
                margin-inline-start: 0px;
                margin-inline-end: 0px;
            }
        }

        .eight-text-two {
            width: 100%;
            height: auto;

            p {
                font-size: 18.5px;
                font-weight: 300;
                letter-spacing: .015em;
                line-height: 1.4;
                display: block;
                margin-block-start: 1em;
                margin-block-end: 1em;
                margin-inline-start: 0px;
                margin-inline-end: 0px;
            }
        }
    }
}

.ninth-row {
    @include size (100%, 20.7rem);
    border: 1px solid #c5c1c1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 25px;

    .eight-content {
        @include size (60rem, 100%);
        align-self: center;
        display: flex;
        flex-direction: column;
        text-align: center;

        .eight-header {
            width: 100%;
            height: 4rem;

            h3 {
                font-size: 24px;
                font-weight: 500;
                line-height: 1.2;
                letter-spacing: .015em;
                padding: 12px;
            }

        }

        .eight-text {
            width: 100%;
            height: 6rem;

            p {
                font-size: 18.5px;
                font-weight: 300;
                letter-spacing: .015em;
                line-height: 1.4;
                display: block;
                margin-block-start: 1em;
                margin-block-end: 1em;
                margin-inline-start: 0px;
                margin-inline-end: 0px;
            }
        }

        .eight-text-two {
            width: 100%;
            height: auto;

            p {
                font-size: 18.5px;
                font-weight: 300;
                letter-spacing: .015em;
                line-height: 1.4;
                display: block;
                margin-block-start: 1em;
                margin-block-end: 1em;
                margin-inline-start: 0px;
                margin-inline-end: 0px;
            }
        }
    }
}