.top-navigation {
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 6.5vh;
  font-family: "Roboto", sans-serif;
  color: #f5f5f7;
  position: fixed;
  width: 100%;
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  z-index: 100;
}
.top-navigation .fa-apple {
  color: #f5f5f7;
  opacity: 0.9;
}
.top-navigation i {
  opacity: 0.7;
}
.top-navigation i:nth-of-type(2) {
  margin-left: 20px;
}
.top-navigation .top-navigation-wrapper {
  display: flex;
  justify-content: space-around;
  width: 68%;
  align-items: center;
}
.top-navigation .top-navigation-wrapper a {
  font-size: 20px;
}
.top-navigation .top-navigation-wrapper ul {
  display: flex;
  list-style: none;
  justify-content: space-around;
  width: 90%;
}
.top-navigation .top-navigation-wrapper ul li a {
  color: #f5f5f7;
  text-decoration: none;
  font-size: 12px;
  opacity: 0.7;
}

.section1 {
  padding-top: 2rem;
  background-image: url("/index-images/iphone.jpg");
  height: 85vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.section1 .section-text-wrapper {
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
.section1 .section-text-wrapper h2 {
  font-size: 55px;
  font-weight: 500;
  text-align: center;
}
.section1 .section-text-wrapper h3 {
  font-size: 27px;
  font-weight: 300;
  text-align: center;
}
.section1 .section-text-wrapper .section-buttons-wrapper {
  padding-top: 5px;
  display: flex;
  align-items: center;
}
.section1 .section-text-wrapper .section-buttons-wrapper a {
  text-decoration: none;
  color: #0066CC;
  font-size: 20px;
  font-weight: 300;
}
.section1 .section-text-wrapper .section-buttons-wrapper a i {
  font-size: 12px;
}
.section1 .section-text-wrapper .section-buttons-wrapper a:last-of-type {
  padding-left: 30px;
}
.section1 .section-text-wrapper .section-buttons-wrapper a:hover {
  text-decoration: underline;
}

.section2 {
  background-image: url("/index-images/apple_icon.jpg");
  margin-top: 15px;
  height: 85vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.section2 .section-text-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 40%;
}
.section2 .section-text-wrapper h2 {
  color: white;
  font-size: 55px;
  font-weight: 500;
}
.section2 .section-text-wrapper h3 {
  color: white;
  font-size: 27px;
  padding-top: 10px;
  width: 35%;
  text-align: center;
  font-weight: 300;
}
.section2 .section-text-wrapper a {
  color: #2997FF;
  padding-top: 20px;
  font-size: 20px;
  text-decoration: none;
}
.section2 .section-text-wrapper a i {
  font-size: 12px;
}
.section2 .section-text-wrapper a:hover {
  text-decoration: underline;
}

.slider-container {
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}
.slider-container .slider-pannel {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.slider-container .slide {
  position: relative;
  overflow: hidden;
  min-width: 1000px;
  height: 100%;
  margin: 0 5px;
  border: 1px solid rgba(179, 179, 179, 0.671);
  box-shadow: 10px 30px 50px 0 rgba(179, 179, 179, 0.671);
  transform: translate(-70%);
  transition: 1s cubic-bezier(0.645, 0.045, 0.355, 1);
  cursor: pointer;
  opacity: 0.5;
}
.slider-container .inner {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  transition: 0.8s ease-in-out;
  display: flex;
  align-items: flex-end;
}
.slider-container .inner .inner-button-text {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 3rem 5rem;
}
.slider-container .inner .inner-button-text h4 {
  color: white;
  font-weight: 300;
  padding-left: 2.5rem;
  font-size: 19px;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.446);
}
.slider-container .inner .inner-button-text h4 span {
  font-weight: 500;
  font-size: 20px;
}
.slider-container .inner .inner-button-text .watchnow-btn {
  padding: 13px 25px;
  border-radius: 28px;
  font-weight: 500;
  letter-spacing: 0.3px;
  border: none;
  cursor: pointer;
}
.slider-container .inner .inner-button-text .watchnow-btn i {
  margin-left: 2px;
}
.slider-container .active {
  opacity: 1;
  box-shadow: rgb(179, 179, 179);
  z-index: 3;
}
.slider-container .slide1 .inner {
  background-image: url("/index-images/Emancipation.jpeg");
}
.slider-container .slide2 .inner {
  background-image: url("/index-images/see.jpeg");
}
.slider-container .slide3 .inner {
  background-image: url("/index-images/shantaram.jpeg");
}

.section3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  background-image: url("index-images/hero_dvs.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 85vh;
  margin-top: 1rem;
}
.section3 .section-text-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  width: 50%;
  height: 70vh;
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  color: #fff;
}
.section3 .section-text-wrapper .section-logo-wrapper {
  background-image: url("index-images/card_logo.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 23%;
  height: 8vh;
}
.section3 .section-text-wrapper h3 {
  font-size: 1.7rem;
  font-weight: 400;
  text-align: center;
  width: 50%;
}
.section3 .section-text-wrapper h6 {
  font-size: 1.3rem;
  font-weight: 400;
  text-align: center;
  margin-top: 1rem;
}
.section3 .section-text-wrapper .section-buttons-wrapper {
  padding-top: 20px;
  display: flex;
  align-items: center;
}
.section3 .section-text-wrapper .section-buttons-wrapper a {
  text-decoration: none;
  color: #2997FF;
  font-size: 20px;
  font-weight: 300;
}
.section3 .section-text-wrapper .section-buttons-wrapper a i {
  font-size: 12px;
}
.section3 .section-text-wrapper .section-buttons-wrapper a:last-of-type {
  padding-left: 30px;
}
.section3 .section-text-wrapper .section-buttons-wrapper a:hover {
  text-decoration: underline;
}

main {
  width: 98%;
  height: auto;
  display: flex;
  justify-content: center;
}
main .cards-content {
  width: 98%;
  height: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: auto;
}
main .cards-content i {
  font-size: 10px;
  padding-left: 3px;
}
main .cards-content .iphone-wrapper {
  width: 49.7%;
  height: 32rem;
  background-image: url("index-images/IPhone_14_pro.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  margin-bottom: 10px;
}
main .cards-content .iphone-wrapper .iphone-wrapper h4 {
  color: #f5f5f7;
  margin-top: 1rem;
  font-size: 2.5rem;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
}
main .cards-content .iphone-wrapper .iphone-wrapper h5 {
  color: #f5f5f7;
  font-size: 1.2rem;
  font-weight: 300;
  margin-right: 10px;
  margin-bottom: 1rem;
}
main .cards-content .iphone-wrapper #lowerLink {
  font-size: 1.1rem;
  position: relative;
  top: 1rem;
  margin: 10px;
  color: #217bcf;
  text-decoration: none;
}
main .cards-content .iphone-wrapper #lowerLink:hover {
  text-decoration: underline;
}
main .cards-content .ipad-wrapper {
  background-color: #fbfbfb;
  width: 49.7%;
  height: 32rem;
  background-image: url("/index-images/IPad.jpg");
  background-position: bottom;
  background-size: 100rem;
  background-repeat: no-repeat;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  margin-bottom: 10px;
}
main .cards-content .ipad-wrapper h4 {
  color: rgba(0, 0, 0, 0.8);
  font-size: 2.5rem;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
}
main .cards-content .ipad-wrapper .iphone-wrapper h5 {
  color: rgba(0, 0, 0, 0.8);
  font-size: 1.2rem;
  font-weight: 300;
  margin-right: 10px;
  margin-bottom: 1rem;
}
main .cards-content .ipad-wrapper #lowerLink {
  font-size: 1.1rem;
  position: relative;
  top: 1rem;
  margin: 10px;
  color: #217bcf;
  text-decoration: none;
}
main .cards-content .ipad-wrapper #lowerLink:hover {
  text-decoration: underline;
}
main .cards-content .airpods-wrapper {
  width: 49.7%;
  height: 32rem;
  background-image: url("index-images/ski.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  cursor: pointer;
  margin-bottom: 10px;
}
main .cards-content .airpods-wrapper .airpods-logo-card {
  width: auto;
  height: 20rem;
}
main .cards-content .airpods-wrapper .airpods-logo-card #apple-gift {
  padding-top: 1rem;
  margin-top: 40px;
  width: 2rem;
  height: 3.5rem;
}
main .cards-content .airpods-wrapper .airpods-logo-card h4 {
  margin-top: 2px;
  color: rgba(0, 0, 0, 0.8);
  font-size: 2.5rem;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
}
main .cards-content .airpods-wrapper .airpods-logo-card .iphone-wrapper h5 {
  color: rgba(0, 0, 0, 0.8);
  font-size: 1.2rem;
  font-weight: 300;
  margin-right: 10px;
  margin-bottom: 1rem;
}
main .cards-content .airpods-wrapper .airpods-logo-card #lowerLink {
  font-size: 1.1rem;
  position: relative;
  top: 1rem;
  margin: 10px;
  color: #217bcf;
  text-decoration: none;
}
main .cards-content .airpods-wrapper .airpods-logo-card #lowerLink:hover {
  text-decoration: underline;
}
main .cards-content .blackwatch-wrapper {
  width: 49.7%;
  height: 32rem;
  background-image: url("index-images/apple_watch_1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  cursor: pointer;
  margin-bottom: 10px;
}
main .cards-content .blackwatch-wrapper .airpods-logo-card {
  width: auto;
  height: 20rem;
}
main .cards-content .blackwatch-wrapper .airpods-logo-card #apple-watch-series {
  padding-top: 1rem;
  margin-top: 40px;
  margin-bottom: 12px;
  width: auto;
  height: auto;
}
main .cards-content .blackwatch-wrapper .airpods-logo-card h4 {
  margin-top: 15px;
  text-align: center;
}
main .cards-content .blackwatch-wrapper .airpods-logo-card .iphone-wrapper h5 {
  color: #f5f5f7;
  font-size: 1.2rem;
  font-weight: 300;
  margin-right: 10px;
  margin-bottom: 1rem;
}
main .cards-content .blackwatch-wrapper .airpods-logo-card #lowerLink {
  font-size: 1.1rem;
  position: relative;
  top: 1rem;
  margin: 10px;
  color: #217bcf;
  text-decoration: none;
}
main .cards-content .blackwatch-wrapper .airpods-logo-card #lowerLink:hover {
  text-decoration: underline;
}
main .cards-content .whitewatch-wrapper {
  width: 49.7%;
  height: 32rem;
  background-image: url("index-images/apple_watch_2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  cursor: pointer;
  margin-bottom: 10px;
}
main .cards-content .whitewatch-wrapper .airpods-logo-card {
  width: auto;
  height: 20rem;
}
main .cards-content .whitewatch-wrapper .airpods-logo-card #apple-watch-series {
  padding-top: 1rem;
  margin-top: 40px;
  margin-bottom: 12px;
  width: auto;
  height: auto;
}
main .cards-content .whitewatch-wrapper .airpods-logo-card h4 {
  margin-top: 15px;
  text-align: center;
}
main .cards-content .whitewatch-wrapper .airpods-logo-card .iphone-wrapper h5 {
  color: rgba(0, 0, 0, 0.8);
  font-size: 1.2rem;
  font-weight: 300;
  margin-right: 10px;
  margin-bottom: 1rem;
}
main .cards-content .whitewatch-wrapper .airpods-logo-card #lowerLink {
  font-size: 1.1rem;
  position: relative;
  top: 1rem;
  margin: 10px;
  color: #217bcf;
  text-decoration: none;
}
main .cards-content .whitewatch-wrapper .airpods-logo-card #lowerLink:hover {
  text-decoration: underline;
}
main .cards-content .speaker-wrapper {
  background-color: #fbfbfb;
  width: 49.7%;
  height: 32rem;
  background-image: url("/index-images/speaker2.png");
  background-position: bottom;
  background-size: 60rem;
  background-repeat: no-repeat;
  text-align: center;
  margin-bottom: 10px;
}
main .cards-content .speaker-wrapper h4 {
  color: rgba(0, 0, 0, 0.8);
  font-size: 2.5rem;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
  margin-top: 4rem;
}
main .cards-content .speaker-wrapper #lowerLink {
  font-size: 1.1rem;
  position: relative;
  top: 1rem;
  margin: 10px;
  color: #217bcf;
  text-decoration: none;
}
main .cards-content .speaker-wrapper #lowerLink:hover {
  text-decoration: underline;
}

.slideshow-container {
  position: relative;
  top: 20;
  background: rgba(255, 255, 255, 0.9450980392);
  width: 100%;
  height: 8rem;
}

@-webkit-keyframes slide-left {
  from {
    margin-left: -500px;
  }
  to {
    margin-left: 0%;
  }
}

@keyframes slide-left {
  from {
    margin-left: -500px;
  }
  to {
    margin-left: 0%;
  }
}
.slide-right {
  width: 100%;
}

.slide-right h2 {
  -webkit-animation: 2s slide-right;
          animation: 2s slide-right;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

@-webkit-keyframes slide-right {
  from {
    margin-right: -400px;
  }
  to {
    margin-right: 0%;
  }
}

@keyframes slide-right {
  from {
    margin-right: -400px;
  }
  to {
    margin-right: 0%;
  }
}
/* Slides */
.mySlides {
  height: auto;
  display: none;
  text-align: center;
  position: relative;
  top: 6rem;
  -webkit-animation: 1s slide-right;
          animation: 1s slide-right;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: 10px;
  padding: 16px;
  color: #888;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin-left: 10rem;
}
@media screen and (max-width: 800px) {
  .prev,
.next {
    margin-left: auto;
  }
}

.next {
  margin-left: 120rem;
  border-radius: 3px 0 0 3px;
}

.section-1-store {
  width: auto;
  height: 35rem;
  display: flex;
  position: relative;
  left: 30rem;
  flex-direction: column;
  margin-bottom: 2rem;
}
@media screen and (min-width: 800px) {
  .section-1-store {
    height: 29rem;
  }
}

.upper-in-section-1 {
  width: 45%;
  height: 17.5rem;
  display: flex;
  justify-content: space-between;
}
@media screen and (min-width: 800px) {
  .upper-in-section-1 {
    height: 29rem;
  }
}
.upper-in-section-1 .header-section-1 {
  width: 65%;
  height: 100%;
  display: flex;
  align-items: center;
}
.upper-in-section-1 .header-section-1 .header-section-placement {
  width: auto;
  height: 50%;
}
.upper-in-section-1 .header-section-1 .header-section-placement .main-header-section-one {
  font-size: 46px;
  font-weight: 600;
}
.upper-in-section-1 .header-section-1 .header-section-placement .main-header-section-one h2 {
  color: black;
}
.upper-in-section-1 .header-section-1 .header-section-placement .main-header-section-one .sub-header {
  color: #6E6E73;
}
.upper-in-section-1 .help-section-1 {
  width: 30%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
}
.upper-in-section-1 .help-section-1 .first-help-1 {
  width: 16rem;
  height: 4rem;
  text-align: center;
}
.upper-in-section-1 .help-section-1 .first-help-1 #assistant {
  width: 2.5rem;
  height: 2.5rem;
  float: left;
}
.upper-in-section-1 .help-section-1 .first-help-1 p {
  padding: 1rem;
  font-weight: 500;
  font-size: 14px;
  position: relative;
  bottom: 0.8rem;
  right: 1.4em;
}
.upper-in-section-1 .help-section-1 .first-help-1 .help-link-1 {
  position: relative;
  bottom: 1.5rem;
  right: 1.4rem;
  font-size: 14px;
  text-decoration: none;
}
.upper-in-section-1 .help-section-1 .second-help-1 {
  width: 16rem;
  height: 4rem;
  text-align: center;
}
.upper-in-section-1 .help-section-1 .second-help-1 #assistant {
  width: 2.5rem;
  height: 2.5rem;
  float: left;
}
.upper-in-section-1 .help-section-1 .second-help-1 p {
  padding: 1rem;
  font-weight: 500;
  font-size: 14px;
  position: relative;
  bottom: 0.8rem;
  right: 1.4em;
}
.upper-in-section-1 .help-section-1 .second-help-1 .help-link-1 {
  position: relative;
  bottom: 1.5rem;
  right: 1.4rem;
  font-size: 14px;
  text-decoration: none;
}

.bottom-section-1 {
  width: 80%;
  height: 7rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  font-size: 14px;
}
.bottom-section-1 .store-bottom-cards {
  width: 10rem;
  height: 100%;
}
.bottom-section-1 #store-cards {
  width: 9rem;
  height: 7rem;
}

.store-header-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  margin-right: 25%;
  margin-top: 10vh;
  background-color: #f5f5f7;
}
.store-header-wrapper .header-h3 {
  font-size: 1.6rem;
  font-weight: 600;
  text-align: left;
  color: #1D1D1F;
}
.store-header-wrapper .header-span {
  font-size: 1.6rem;
  font-weight: 600;
  text-align: left;
  color: #6E6E73;
}

.store-section-2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  width: 100%;
}
.store-section-2 .container {
  width: 100%;
  height: 58vh;
}
.store-section-2 .swiper-slide {
  width: 400px;
  height: 500px;
  margin: auto;
}
.store-section-2 .card-content {
  width: 400px;
  height: 500px;
}
.store-section-2 .card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
@media screen and (max-width: 1820px) {
  .store-section-2 .card {
    margin-left: 1rem;
  }
}
.store-section-2 .image {
  width: 399.99px;
  height: 499.99px;
  transition-duration: 0.5s;
  border-radius: 1rem;
  box-shadow: -0.5px 0.5px 10px 0.5px rgba(0, 0, 0, 0.062745098);
  cursor: pointer;
}
.store-section-2 .image:hover {
  width: 403px;
  height: 503px;
  transition-duration: 0.5s;
  box-shadow: -1px 1px 10px 2px rgba(0, 0, 0, 0.1882352941);
}
.store-section-2 img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 1rem;
}
.store-section-2 .card-text {
  position: relative;
  bottom: 29.5rem;
  left: 1.5rem;
}
.store-section-2 .card-text-white-color h3 {
  color: #F5F5F7;
}
.store-section-2 .card-text-white-color p,
.store-section-2 .card-text-white-color span {
  color: #fff;
}
.store-section-2 h3 {
  font-size: 0.7rem;
  font-weight: 600;
  text-align: left;
  margin-bottom: 0.5rem;
  color: #6E6E73;
}
.store-section-2 p {
  font-size: 1.7rem;
  font-weight: 500;
  text-align: left;
  margin-bottom: 0.5rem;
  color: #1D1D1F;
}
.store-section-2 span {
  font-size: 1rem;
  font-weight: 400;
  text-align: left;
  color: #1D1D1F;
}

.footnote-1 {
  width: 100%;
  padding-top: 20px;
  background-color: #f5f5f7;
  line-height: 15px;
}
.footnote-1 .cross {
  font-size: 8px;
}
.footnote-1 span {
  font-size: 12px;
}
.footnote-1 p {
  width: 80%;
  margin: auto;
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 0.5px;
  color: #848484;
  padding-bottom: 30px;
  border-bottom: 1px solid rgb(204, 204, 204);
}
.footnote-1 .strong {
  color: rgba(0, 0, 0, 0.668);
}
.footnote-1 .bold {
  font-weight: 500;
  font-size: 12px;
  color: #7e7d7d;
}

.footer-apple-logo {
  width: 100%;
  background-color: #f5f5f7;
}
.footer-apple-logo .footer-apple-logo-wrapper {
  width: 80%;
  margin: auto;
  display: flex;
  align-items: center;
  padding-top: 20px;
}
.footer-apple-logo .footer-apple-logo-wrapper .fa-apple {
  color: rgba(0, 0, 0, 0.695);
}
.footer-apple-logo .footer-apple-logo-wrapper .fa-chevron-right {
  color: rgba(0, 0, 0, 0.107);
  padding: 0px 10px;
}
.footer-apple-logo .footer-apple-logo-wrapper p {
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.3px;
  color: #525255;
}

footer {
  height: auto;
  width: auto;
  display: flex;
  justify-content: center;
  background-color: #f5f5f7;
  padding-top: 5px;
}
footer .footerContent {
  height: auto;
  width: auto;
  width: auto;
  height: auto;
}
footer .navFooter {
  height: auto;
  display: flex;
}
footer .navFooter .contentUpperFooter {
  height: 24rem;
  width: 14rem;
  width: 14rem;
  height: 27.5rem;
}
footer .navFooter .contentUpperFooter h3 {
  font-size: 0.8rem;
  font-weight: 500;
  color: #1D1D1F;
  opacity: 0.9;
  color: #1D1D1F;
  margin-top: 15px;
}
footer .navFooter .contentUpperFooter li {
  list-style: none;
  width: 11.2rem;
  height: auto;
  width: 11.2;
  height: auto;
  margin-top: 5px;
}
footer .navFooter .contentUpperFooter a {
  text-decoration: none;
  color: #525255;
  font-weight: 300;
  font-size: 0.8rem;
  font-size: 0.74rem;
}
footer .navFooterBottom {
  width: 100%;
  height: 7.5rem;
  width: 100%;
  height: 7.5rem;
  display: flex;
  flex-direction: column;
}
footer .navFooterBottom .navFooterBottomTop {
  width: 100%;
  height: 3rem;
  width: 100%;
  height: 3rem;
}
footer .navFooterBottom .navFooterBottomTop p {
  font-size: 0.75rem;
  text-align: start;
  color: #8e8e92;
}
footer .navFooterBottom .navFooterBottomTop a {
  text-decoration: none;
  font-size: 0.8rem;
  color: #2174d0;
}
footer .navFooterBottom .verticalLine {
  width: 100%;
  height: 0.01rem;
  align-self: center;
  background-color: #525255;
}
footer .navFooterBottom .navFooterBottomBottom {
  width: auto;
  height: auto;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}
footer .navFooterBottom .navFooterBottomBottom .copyWriteLeftBar {
  width: 20rem;
  font-size: 0.8rem;
  color: #545457;
  margin-top: 0.2rem;
  opacity: 0.7;
}
footer .navFooterBottom .navFooterBottomBottom .navFooterBottomBottomLinks {
  width: 40rem;
}
footer .navFooterBottom .navFooterBottomBottom .navFooterBottomBottomLinks a {
  text-decoration: none;
  padding: 0px 5px;
  font-size: 0.8rem;
  margin-bottom: 10px;
  color: #545457;
  border-left: 1px solid rgba(84, 84, 87, 0.1411764706);
  opacity: 0.8;
}
footer .navFooterBottom .navFooterBottomBottom .navFooterBottomBottomLinks a:first-of-type {
  border: none;
}
footer .navFooterBottom .navFooterBottomBottom .navFooterCountry a {
  text-decoration: none;
  font-size: 0.8rem;
  color: #545457;
  margin-left: 5rem;
  opacity: 0.8;
}

main {
  width: auto;
  height: 100rem;
  display: flex;
  flex-direction: column;
}

.support-footer {
  display: flex;
  flex-direction: column;
}
.support-footer .support-footer-social {
  margin: auto;
  width: 70%;
  padding: 30px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.214);
}
.support-footer .support-footer-social h5 {
  font-weight: 300;
  padding-bottom: 20px;
}
.support-footer .support-footer-social .support-footer-social-icons i {
  font-size: 35px;
  color: rgba(0, 0, 0, 0.771);
  cursor: pointer;
}
.support-footer .support-footer-social .support-footer-social-icons i:nth-of-type(2) {
  padding-left: 10px;
}
.support-footer .footer-apple-logo .footer-apple-logo-wrapper {
  width: 70%;
}
.support-footer .footer-apple-logo .footer-apple-logo-wrapper p {
  letter-spacing: 0.2px;
  color: rgba(0, 0, 0, 0.454);
}
.support-footer .support-footer-uls {
  display: flex;
  width: 70%;
  margin: auto;
  justify-content: space-between;
  padding-top: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.214);
  padding-bottom: 30px;
}
.support-footer .support-footer-uls ul {
  list-style: none;
}
.support-footer .support-footer-uls ul h5 {
  font-size: 0.8rem;
  font-weight: 500;
  color: #161617;
  opacity: 0.9;
  color: #1D1D1F;
  margin-top: 15px;
}
.support-footer .support-footer-uls ul li {
  padding-top: 5px;
}
.support-footer .support-footer-uls ul a {
  text-decoration: none;
  color: #525255;
  font-weight: 300;
  font-size: 0.8rem;
  font-size: 0.74rem;
}
.support-footer .footer-copy-wrapper {
  display: flex;
  width: 70%;
  margin: auto;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 30px;
}
.support-footer .footer-copy-wrapper h5 {
  color: rgba(0, 0, 0, 0.565);
  font-weight: 400;
  font-size: 12px;
}
.support-footer .footer-copy-wrapper .footer-copy-left {
  display: flex;
}
.support-footer .footer-copy-wrapper .footer-copy-left ul {
  display: flex;
  list-style: none;
}
.support-footer .footer-copy-wrapper .footer-copy-left ul a {
  text-decoration: none;
  font-size: 12px;
  padding: 0px 15px;
  color: rgba(0, 0, 0, 0.454);
  letter-spacing: 0.3px;
  border-left: 1px solid rgba(0, 0, 0, 0.148);
}
.support-footer .footer-copy-wrapper .footer-copy-left ul a:first-of-type {
  border: none;
}
.support-footer .footer-copy-wrapper .footer-copy-left h5 {
  margin-right: 20px;
  color: rgba(0, 0, 0, 0.378);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  overflow-x: hidden;
  background-color: #f5f5f7;
  width: auto;
  height: auto;
}/*# sourceMappingURL=style.css.map */