@import "partials/variables";

@import "partials/navigation";

@import "partials/mixins";

@import "partials/homepage";


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

footer {
    height: auto;
    display: flex;
    justify-content: center;
    background-color: #f5f5f7;

    .footerContent {
        @include size(auto, auto);

    }

    .navFooter {
        height: auto;
        display: flex;

        .contentUpperFooter {
            @include size(14rem, 27.5rem);

            h3 {
                @include text-size-footer (0.75rem, 'Roboto');
                font-weight: 500;
                color: $h3-footer-color;


            }


            li {
                list-style: none;
                @include size(11.2, auto);
                position: relative;
                right: 2.4rem;
                bottom: 0.8rem;
                margin-top: 7px;


            }

            a {
                text-decoration: none;
                color: #525255;
                font-family: 'Roboto';
                font-weight: 300;
                font-size: 0.74rem;
            }
        }

    }

    .navFooterBottom {
        @include size(100%, 7.5rem);
        display: flex;
        flex-direction: column;

        .navFooterBottomTop {
            @include size(100%, 3rem);

            p {
                @include text-size-footer (0.75rem, 'Roboto');
                text-align: start;
                color: #8e8e92;
            }

            a {
                text-decoration: none;
                @include text-size-footer (0.8rem, 'Roboto');
                color: #2174d0;
            }
        }

        .verticalLine {
            @include size(100%, 0.01rem);
            align-self: center;
            background-color: #525255;
        }

        .navFooterBottomBottom {
            @include size(auto, auto);
            display: flex;
            flex-direction: row;
            margin-top: 10px;


            .copyWriteLeftBar {
                width: 20rem;
                @include text-size-footer (0.8rem, 'Roboto');
                color: #545457;
                margin-top: 0.2rem;
                opacity: 0.7;
            }

            .navFooterBottomBottomLinks {
                width: 40rem;

                a {
                    text-decoration: none;
                    padding: 0px 5px;
                    @include text-size-footer (0.8rem, 'Roboto');
                    margin-bottom: 10px;
                    color: #545457;
                    border-left: 1px solid #54545724;
                    opacity: 0.8;

                }

                a:first-of-type {
                    border: none;
                }

            }

            .navFooterCountry {

                a {
                    text-decoration: none;
                    @include text-size-footer (0.8rem, 'Roboto');
                    color: #545457;
                    margin-left: 5rem;
                    opacity: 0.8;
                }
            }

        }

    }
}